.chat-list-container {
	width: 400px;
	height: 100%;
	border: 1px solid rgb(226, 226, 226);
	display: flex;
	flex-direction: column;
}

.chat-search-container {
	padding: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	color: var(--icon-default-color);
	font-size: 30px;
}

.chat-search-field {
	background: none;
	border: none;
	font-size: 18px;
	width: 100%;
}

.chat-search-field::placeholder {
	color: var(--icon-default-color);
}

.chat-search-field:focus {
	outline: none;
	caret-color: var(--fg);
}

.new-chat-icon:hover {
	cursor: pointer;
	filter: brightness(80%);
}

.chat-list {
	overflow-y: auto;
	overflow-x: hidden;
}

.chat-preview-container {
	display: flex;
	padding: 20px 38px;
	gap: 15px;
	cursor: pointer;
	box-sizing: border-box;
}

.chat-preview-container:hover {
	background: rgb(245, 245, 245);
}

.selected-chat {
	background: rgb(245, 245, 245);
}

.sender-profile-pic {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.chat-sender {
	font-weight: 400;
}

.unread-chat-sender {
	font-weight: 600;
	color: var(--fg);
}

.read-chat-msg {
	color: var(--icon-default-color);
}

.chat-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

.chat-last-msg {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 45%;
	font-weight: 200;
}