body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.App {
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
	font-family: sans-serif;
	display: flex;

	--fg: rgb(123, 112, 222);
	--icon-default-color: rgb(177, 177, 177);
}